main {
    display: flex;
    min-width: 100vw; 
    min-height: 100vh;  
    flex-direction: column;
}

h1 {
    color: white; 
    padding: 1rem 6rem 0 1rem;
}

#logo-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    height: 4rem;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
}

.wireless-container {  
    min-height: 100%;
    flex-basis: 50%;
}

.or-container {
    border: 2px #C4C4C4 solid;
    min-height: 100%;
    position: relative;
    margin: 1em 2em;
}

.or-container::after {
    content: "OR";
    background-color: black;
    font-size: 1.7rem;
    color: #D9D9D9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 0;
}

.keyboard-container {
    min-height: 100%;
    flex-basis: 50%;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    margin: 0.7rem 0;
}
.qr-code-container img {
    height: 6rem;
}

.random-id {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.7rem 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}


@media (orientation: landscape) {
    .container {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    .container {
      flex-direction: column;
    }

    .or-container {
        margin: 2em 1em;
    }
    .or-container::after {
        padding: 0 1em;
    }

    .qr-code-container img {
        height: 20vw;
    }
}